body {
  font-family: 'Lato', 'Noto Sans KR';
  font-weight: 300;
  word-break: keep-all;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 500;
  margin: 0.1em 0;
}
.title h1 {
  margin-top: 1em;
}
li {
  padding: 0.18em;
}
textarea {
  display: none;
}
img {
  max-width: 100%;
  max-height: 400px;
}
a {
  text-decoration: none;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.remark-inline-code {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #F0F0F0;
}
.remark-code {
  font-size: 16px;
}
.remark-code-line {
  min-height: 1.25em;
}

.remark-slide-content {
  padding: 3em 4em 3em 4em;
}

.bigimg {
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
}
.bigimg img {
  width: 100%;
}

.bigimg2 {
  text-align: center;
  width: 90%;
  padding-bottom: 1em;
}
.bigimg2 img {
  width: 100%;
}

.remark-slide-content.bigimg {
  padding: 0em;
}

.left-half {
  float: left;
  width: 42%;
}

.right-half {
  float: right;
  width: 42%;
}

.right-half .img {
  text-align: right;
  position: relative;
}

.remark-slide table {
  width: 100%;
}
.footnote {
  display: block;
  position: fixed;
  bottom: 3em;
  left: 1em;
  right: 1em;
  text-align: center;
}

.footnote .text {
  background-color: #333;
  color: #fff;
  padding: 0.2em 0.4em;
}

.speech-bubble {
	margin-top: 2rem;
	padding-left: .5em;
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}
.speech-bubble li {
  font-family: 'Noto Sans KR';
  color: white;
}
.left-half.speech-bubble:after {
	border-left: 0;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
.right-half .speech-bubble:after {
	left: 40%;
}

.new-noti {
  position: absolute;
  right: 100px;
  bottom: 100px;
  text-align: right;
}
.new-noti img {
  max-width: 40%;
}

.common-img-border img {
  border: 1px solid black;
}

.common-img-max-height-450 img {
  max-height: 450px;
}

.common-img-max-height-500 img {
  max-height: 500px;
}

.common-img-max-height-350 img {
  max-height: 350px;
}

/* template */
.ch {
  font-family: 'Yanone Kaffeesatz', 'Noto Sans KR';
  font-weight: 700;
  border-top: 2px solid #654EA3;
  color: #654EA3;
  padding-top: 10px;
  font-size: 20px;
}

.center .ch {
  position: absolute;
  top: 3em;
  left: 4em;
}

/* layout */
.left-bottom {
  position: absolute;
  bottom: 3em;
  left: 4em;
}
.right-bottom {
  position: absolute;
  bottom: 3em;
  right: 4em;
}
.right-top {
  position: absolute;
  top: 3em;
  right: 4em;
}

.list-unstyled ul {
    padding: 0;
}

.list-unstyled li {
    list-style: none;
}
.list-unstyled li a {
    color: #dc1b50
}

.max-width-50 {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.max-width-60 {
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
.max-width-70 {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.max-width-80 {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/* bg */
.black-bg {
  background-size: cover;
  color: #fff;
}

.black-bg a {
  color: #fff;
}

/* theme */
.default-layout {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.default-layout h1 {
  margin: 0;
}
.inverse {
  background: #4ea1a3;
  color: #ffffff;
}

.page-5 p {
  text-align: center;
}
.page-5 img {
  top: -30px;
  position: relative;
  max-height: 520px;
}

.page-10 {
  background-color: #ffffff;
  color: #29ad72;
}
.page-10 h2 {
  top: 100px;
  position: absolute;
}

.page-10 h3 {
  text-align: center;
  position: relative;
  color: #2fbeee;
  top: 190px;
  font-size: 80px;
}

.page-10 img {
  width: 20%;
  position: absolute;
  top: -24px;
  right: -56px;
}

.page-110 .small img {
  max-width: 350px;
  border: 1px solid;
}

.page-110 .big img {
  max-width: 500px;
  position: absolute;
  right: 55px;
  bottom: 63px;
  border: 1px solid;
}

.page-120 .first img {
  max-width: 70%;
  border: 1px solid;
}
.page-120 .second img {
  max-width: 50%;
  border: 1px solid;
  position: absolute;
  right: 55px;
  bottom: 63px;
}

.page-160a p {
  text-align: center;
}
.page-160a img {
  position: relative;
  left: -12%;
  top: -63px;
  max-width: 124%;
  max-height: 580px;
}

.page-160 .video {
  position: relative;
  max-width: 580px;
  margin: 0 auto;
  top: -20px;
}
.page-160 .video video {
  width: 100%;
}

.page-270 h3 {
  margin-top: 100px;
}

.page-280 img {
  max-width: 200px;
}

.page-img-100p img {
  width: 110%;
  max-width: 110%;
  max-height: 110%;
  top: -20px;
  position: relative;
  left: -5%;
}

.page-top-img-120p h1,
.page-top-img-120p h2,
.page-top-img-120p h3 {
  top: -30px;
  position: relative;
}
.page-top-img-120p img {
  width: 120%;
  max-width: 120%;
  max-height: 120%;
  top: -60px;
  position: relative;
  left: -10%;
}

.page-img-94p img {
  width: 94%;
  max-width: 94%;
  max-height: 94%;
  top: -20px;
  position: relative;
  left: 3%;
}

.page-img-90p img {
  width: 90%;
  max-width: 90%;
  max-height: 90%;
  top: -20px;
  position: relative;
  left: 5%;
}

.page-img-84p img {
  width: 84%;
  max-width: 84%;
  max-height: 84%;
  top: -20px;
  position: relative;
  left: 8%;
}

.page-img-64p img {
  width: 64%;
  max-width: 64%;
  max-height: 64%;
  top: -20px;
  position: relative;
  left: 18%;
}

.right-padding-layer {
  width: 70%;
}

strong {
  font-weight: bold;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}
.left-column.active {
  color: #000;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
}

/* custom */
.logo-wrapper img {
  margin-top: 30px;
  width: 150px;
}

.inline {
  text-align: center;
}
.inline img {
  float: left;
  width: 100px;
}

.h1-has-margin-bottom h1 {
  margin-bottom: 1.5em;
}

.center-content p {
  text-align: center;
}

.full-width-img img {
  width: 100%;
}

.full-width-img-10 h3 {

}

.full-width-img-10 img {
  width: 110%;
  max-width: 110%;
  max-height: 110%;
  position: relative;
  left: -5%;
}

.full-width-img-20 img {
  width: 120%;
  max-width: 120%;
  max-height: 120%;
}

.width-img-40 img {
  width: 40%;
}

.bg-gray {
  background-color: gray;
}

.float-left-img img {

}
.float-left-img img {
  width: 49%;
  vertical-align: bottom;
}

.img80 img {
  margin-top: 2em;
  width: 80%;
}
.source {
  font-size: 0.8em;
  text-align: left;
  position: relative;
  top: -1em;
}

.page-group-reference {
  font-size: 1.0em;
}
.margin-top-3em {
  margin-top: 3em;
}

.inverse a {
  color: #00ffd4;
}
.header-with-tiny p {
  font-size: 0.8em;
  margin-bottom: 0px;
  color: #b7b7b7;
}
.header-with-tiny h1 {
  line-height: 36px;
  margin-bottom: 0.6em;
}
